@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> Goats are one of the earliest domesticated animals, providing humankind with milk, meat, hides, and fiber. 
    They include several species of small, cloven-hoofed ruminants constituting the genus Capra. Similar to other ruminants, 
    including cows and sheep, goats process plant roughage through a fermentation process within their compartmentalized stomachs,
    and they chew regurgitated, partially digested food known as cud. Unlike other ruminants, goats are agile browsers, 
    preferring to reach upwards for foods such as the leaves, fruit, and bark of small trees rather than grazing on grasses.
    When the desired foods are unavailable, however, goats will consume any plant material accessible. It is this foraging ability 
    and flexibility of diet that has secured the importance of goats as a food source in the world's subsistence economies.</p>
<p> Source: http://www.encyclopedia.com/topic/goat.aspx </p>
