@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Green Grazing Goat</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Green Grazing Goat</h2>
        <p>
            Green Grazing Goat is devoted to green and sustainable alternatives 
            for clearing urban overgrown lots.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cute baby goat!</h2>
        <p><img src="~/Content/goatbaby.jpg" /></p>
        <!--<p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Learn more about it</h2>
        <p>You can read an article here.</p>
        <p><a class="btn btn-default" href=http://citygrazing.com />City Grazing &raquo;</a></p>
    </div>
</div>